<div class="dropdown-menu">
  <!-- Color mode -->
  <h6 class="dropdown-header">Color mode</h6>
  <a class="dropdown-item d-flex" data-bs-theme-value="light" href="#" role="button">
    <span class="material-symbols-outlined me-2"> light_mode </span> Light
  </a>
  <a class="dropdown-item d-flex" data-bs-theme-value="dark" href="#" role="button"> <span class="material-symbols-outlined me-2"> dark_mode </span> Dark </a>
  <a class="dropdown-item d-flex" data-bs-theme-value="auto" href="#" role="button"> <span class="material-symbols-outlined me-2"> contrast </span> Auto </a>

  <!-- Divider -->
  <hr class="dropdown-divider" />

  <!-- Navigation position -->
  <h6 class="dropdown-header">Navigation position</h6>
  <a class="dropdown-item d-flex" data-bs-navigation-position-value="sidenav" href="#" role="button">
    <span class="material-symbols-outlined me-2"> thumbnail_bar </span> Sidenav
  </a>
  <a class="dropdown-item d-flex" data-bs-navigation-position-value="topnav" href="#" role="button">
    <span class="material-symbols-outlined me-2"> toolbar </span> Topnav
  </a>
</div>
